body {
    background-image: url('https://cdn.wallpaperhub.app/cloudcache/6/9/0/e/e/f/690eefe3ba1f553e0ea527f51ee407b604b681b4.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    font-family: 'Dancing Script', cursive;
    font-family: 'Teko', sans-serif;
  }